.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px; /*0 for left and right 25 for top and bottom*/
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}